{% extends "base.html" %}
{% block content %}
 <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <a class="navbar-brand fw-bold fs-3 d-flex align-items-center" href="{% url url_name comentario.object_id %}">
            <i class="fa-solid fa-building-circle-check me-2" style="color:#ff6b6b;"></i>
            RosarioRent
        </a>
     </nav>

<div class="d-flex justify-content-center align-items-center vh-100" 
     style="background: linear-gradient(135deg, #000000, #243b55);">
  <div class="card shadow-lg p-5 text-white" 
       style="max-width: 600px; width: 100%; border-radius: 15px; background-color: #1f2a38;">
    <h3 class="text-center mb-4 fw-bold">Editar comentario</h3>
    <form method="post">
      {% csrf_token %}
      <div class="mb-3" style="margin-left:50px;">
        {{ form.texto}}
      </div>
      <div class="d-flex justify-content-between mt-4">
        <button type="submit" class="btn btn-success px-4 fw-bold">
          💾 Guardar
        </button>
        <a href="{% url url_name comentario.object_id %}" 
           class="btn btn-danger px-4 fw-bold">
          ✖ Cancelar
        </a>
      </div>
    </form>
  </div>
</div>
{% endblock %}