{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
       <div class="d-flex flex-column align-items-center">
        <h2>Publicar nuevo salón</h2>
            <div class="mb-3 w-25">
                <label>Nombre</label>
                {{ form.nombre }}
            </div>
            <div class="mb-3 w-25">
                <label>Dirección</label>
                {{ form.ubicacion }}
            </div>
            <div class="mb-3 w-25">
                <label>Precio</label>
                {{ form.precio }}
            </div>
            <div class="mb-3 w-25">
                <label>Capacidad</label>
                {{ form.capacidad }}
            <div class="mb-3 w-40">
                <label>Descripción</label>
                {{ form.descripcion }}
            </div>
            <div class="mb-2 w-40 text-center">
                <label>Fotos del salón</label>
                <input type="file" name="imagenes" multiple class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Publicar</button>
        </div>
    </form>
</div>

<style>
body {
background-image: url("{% static 'assets/salonn.jpg' %}");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container {
    background: rgba(14, 12, 12, 0.664);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 15px;
    color:white;
}

.errorlist {
    color: red;
    margin: 0;
    padding: 0;
}

</style>

{% endblock %}
